#app {
  font-family: monospace;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  .headline {
    margin: 0;
    text-align: center;
    font-size: 40px;
  }
  .output-container {
    user-select: none;
    overflow: hidden;
    background-color: black;
    margin: 0 auto;
    width: 80%;
    height: 60%;
    min-width: 600px;
    min-height: 300px;
    position: relative;
    .message-container {
      transform: rotate(-30deg);
      position: absolute;
      top:0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index:0;
      .message {
        font-size: 30px;
      }
    }
    .output-gif {
      position: absolute;
      z-index:1;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .download-container {
      cursor: pointer;
      position: absolute;
      bottom: -20%;
      width: 100%;
      background: rgba(255, 192, 203, .8);
      font-size: 20px;
      height:20%;
      z-index:2;
      display:flex;
      justify-content: center;
      align-items: center;
      transition: transform 1s ease;
    }
  }
}


#app[data-can-download=true]{
  .download-container{
    transform: translateY(-100%);
  }
}